* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Nunito", sans-serif;
  --bg-primary: #223b5c;
  --color-primary: #c48b3a;
  --color-terciary: #e7eff6;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-header-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  font-family: var(--ff-all);
  font-size: 2rem;

  height: 10rem;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(34, 59, 92, 0.2),
    rgba(2, 38, 84, 0.85)
  );
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.37);
  position: fixed;

  z-index: 999;
}

#logo {
  height: 7.5rem;
}

.nav-list {
  display: flex;
  gap: 3rem;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: var(--color-terciary);
}

ul li a:hover {
  color: var(--color-primary);
}

#contato {
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 0.5rem;
}

#contato:hover {
  background-color: #9d7031;
  color: var(--color-terciary);
}

.mobile-menu {
  display: none;
}

.main-section {
  height: 100vh;
  width: 100%;
  background-image: url(./imgs/main-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  width: clamp(33rem, 80%, 130rem);
  height: 80rem;

  padding-top: 20rem;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-family: var(--ff-all);
  font-size: var(--fs-header);

  color: var(--color-terciary);
}

.container p {
  font-size: 3.5rem;
}

.container h1 a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 2.5rem;

  color: var(--color-terciary);

  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 0.5rem;

  width: 30rem;
  padding: 1.5rem 0;
  margin-top: 7%;
}

.container h1 a:hover {
  background-color: #9d7031;
}

.section-container {
  width: 100%;

  display: flex;
}

.div-content {
  height: 80vh;
  width: 100%;
  padding: 0 15%;

  gap: 7%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: flex;

  position: relative;

  font-family: var(--ff-all);

  color: var(--color-terciary);
  border-bottom: 1rem solid var(--color-primary);
}

.div-content h1 {
  font-size: 5rem;
}

.div-content p {
  font-size: 2rem;
}

.div-content img {
  border-radius: 3rem;
  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.37);

  height: 60%;
}

#div-content-one {
  background-image: url(./imgs/wallpaper-one.png);
  background-size: cover;
  background-attachment: fixed;
}

#div-content-two {
  background-color: var(--color-terciary);
  color: var(--bg-primary);
}

#div-content-three {
  background-image: url(./imgs/wallpaper-two.png);
  background-size: cover;
  background-attachment: fixed;
}

#div-content-three img {
  height: 65%;
  border-radius: 2.3rem;
}

.sub {
  border-bottom: 0.5rem solid var(--color-primary);
}

.div-content-four {
  display: flex;
  height: 80vh;
  width: 100%;

  font-family: var(--ff-all);

  color: var(--color-terciary);
  border-bottom: 1rem solid var(--color-primary);
}

.info {
  width: clamp(33rem, 80%, 140rem);

  margin: 8rem auto 0;
  text-align: center;

  color: var(--bg-primary);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info h1 {
  font-size: var(--fs-header-sm);

  margin-bottom: 2rem;
}

.card-container {
  display: flex;
  justify-content: center;

  gap: 4%;
  margin: 8rem 2rem;

  position: relative;
}

.card {
  flex: 1;
  color: var(--color-secondary);

  padding: 2rem;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border-radius: 3rem;
  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.37);

  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.card img {
  border-radius: 0;
  height: 12rem;
  box-shadow: none;
}

.card:hover {
  transform: translate(-5px, -10px);
  cursor: pointer;
}

.card h2 {
  margin-bottom: 1.5rem;
  padding: 5px 0 0;
}

.card p {
  padding: 0 15px 15px;
}

@media (max-width: 1330px) {
  .main-section {
    height: 100vh;
    width: 100%;
    background-image: url(./imgs/main-img\ -\ Copia.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .container {
    width: clamp(33rem, 80%, 100rem);
    height: 80rem;
    margin: 0 auto 25rem;

    padding-top: 10rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .container h1 {
    font-size: var(--fs-header);
  }

  .container p {
    font-size: var(--fs-body);
  }
}

@media (max-width: 1300px) {
  .div-content h1 {
    font-size: 4.5rem;
  }

  .div-content p {
    font-size: 2rem;
  }

  .div-content img {
    border-radius: 3rem;

    height: 60%;
  }
}

@media (max-width: 1200px) {
  .div-content h1 {
    font-size: var(--fs-header-sm);
  }

  .div-content p {
    font-size: var(--fs-body);
  }

  .div-content img {
    border-radius: 3rem;

    height: 55%;
  }

  .info {
    margin-top: 0;
    margin-bottom: 0;
  }

  .card-container {
    display: flex;
    flex-direction: column;

    margin-top: 3rem;
  }

  .card {
    width: 100%;
    margin-bottom: 5rem;
  }

  #card3 {
    margin-bottom: 0;
  }
}

@media (max-width: 990px) {
  .div-content {
    display: flex;
    flex-direction: column;

    padding: 5rem 4rem;
  }

  #div-content-two {
    padding-top: 5rem;
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 840px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    position: fixed;
    top: 0;

    height: 10rem;
  }

  header img {
    padding: 0 0 0 3rem;
  }

  #icon {
    display: block;

    font-size: 2rem;
    padding-right: 3rem;

    color: var(--color-terciary);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;

    padding: 10rem 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    background-image: url(./imgs/wallpaper-three.png);

    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    list-style: none;

    margin-left: 0;

    opacity: 0;

    color: aliceblue;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
  }

  .main-section h1 a {
    margin: 7% auto 0;
  }

  .section-container {
    display: flex;
    flex-direction: column;
  }

  .div-content h1 {
    font-size: var(--fs-header-sm);
  }

  .div-content p {
    font-size: var(--fs-body);
  }

  .div-content img {
    height: 40%;
  }

  /* #div-content-three {
    height: 100vh;
  } */

  #div-content-two,
  #div-content-three {
    height: 130vh;
    
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #div-content-three img {
    height: 50%;
  }
}

@media (max-width: 400px) {
  .container {
    height: 65rem;
  }

  .div-content {
    height: 115vh;
  }

  
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
